<button mat-button disabled style="margin-top:45px">
    Найдено {{total_results}} фильмов
</button>
<!-- Top pagination -->
<div class="pagination">
  <ng-container *ngIf="currentPage > 1">
    <button mat-button (click)="goStartOrEnd(1)">{{ 1 }}</button>
    <button mat-button (click)="goNextOrPrevious(-1)">{{currentPage-1}} <<</button>
  </ng-container>
    <button mat-button disabled>{{currentPage}}</button>
  <ng-container *ngIf="currentPage < total_pages">
    <button mat-button (click)="goNextOrPrevious(1)"> >> {{ currentPage+1}}</button>
  </ng-container>
  <ng-container *ngIf="currentPage !== total_pages">
    <button mat-button (click)="goStartOrEnd(total_pages)">{{ total_pages }}</button>
  </ng-container>
</div>
<!-- List of Movies -->
<mat-card style="background-color:rgb(255, 136, 0);">
  <mat-card-content>
    <mat-grid-list cols="4" rowHeight="400px" gutterSize="30px" class="movieList">
      <mat-grid-tile *ngFor="let movie of movies" 
        class="movie" 
        (click)="goDetail(movie.id)">     
        <img *ngIf="movie.poster_path" src="{{imagePath}}{{movie.poster_path}}">
        <img *ngIf="!movie.poster_path" src="https://placehold.it/500x740">
        <!-- Favorite Add/Remove glyphicons -->
        <ng-container *ngIf="!idArray.includes(movie.id)">
          <mat-icon class="glyphiconFalse" 
            (click)="addFavorite(movie.id, movie.title, movie.poster_path, $event)">
            star
          </mat-icon>
        </ng-container>
        <ng-container *ngIf="idArray.includes(movie.id)">
          <mat-icon class="glyphiconTrue" 
            (click)="removeFavorites(movie.id, movie.title, movie.poster_path, $event)">
            star
          </mat-icon>
        </ng-container>
        <!-- Genres of Movie -->
        <mat-grid-tile-footer class="footer">
          <ng-container *ngFor="let genreId of movie.genre_ids">
            <ng-container  *ngFor = "let genre of genres" >
              <div *ngIf="genreId == genre.id">
                {{genre.name}}
              </div>
            </ng-container>
          </ng-container>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
<!-- Bottom pagination -->
<div class="pagination">
    <ng-container *ngIf="currentPage > 1">
      <button mat-button (click)="goStartOrEnd(1)">{{ 1 }}</button>
      <button mat-button (click)="goNextOrPrevious(-1)">{{currentPage-1}} <<</button>
    </ng-container>
      <button mat-button disabled>{{currentPage}}</button>
    <ng-container *ngIf="currentPage < total_pages">
      <button mat-button (click)="goNextOrPrevious(1)"> >> {{ currentPage+1}}</button>
    </ng-container>
    <ng-container *ngIf="currentPage !== total_pages">
      <button mat-button (click)="goStartOrEnd(total_pages)">{{ total_pages }}</button>
    </ng-container>
</div>