/* detail consits of left and right parts */
.container{
  margin-left:80px;
  margin-right:80px;
  margin-top:50px;
  display: flex;
  flex:1;
  border-radius: 10px;
  flex-direction: row;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgba(248, 248, 248, 0.87);
}
/* left part */
.detail_left{
  display:flex;
  position: relative;
  border-radius: 10px;
  height: 600px;
  flex:1;
  margin-right: 40px;
}
.detail_left img {
  border-radius: 10px;
}
.detail_left .glyphiconFalse {
  position: absolute;
  cursor: pointer;
  border-width:2px;
  border-style: solid;
  border-radius: 15px;
  border-color: black;
  top: 20px;
  right: 0px;
  color:white;
}
.detail_left .glyphiconTrue {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 0px;
  color:rgb(255, 238, 0);
}
/* right part*/
.detail_right{
  display:flex;
  flex:2;
  flex-direction: column;
}
mat-card-header {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
}
.title{
  margin-bottom: 0;
  text-align: center;
}
.subtitle{
  text-align:center;
}
.detail_right_info{
  display: flex;
  flex-direction: column;
}
.description{
  font-size: 20px;
  margin-bottom: 50px;
}
.otherDetails{
  font-size: 18px;
}
.otherDetails div{
  margin-bottom: 10px;
}
.otherDetails span{
  color:rgb(3, 160, 29);
  font-size: 20px;
}
.genreItems{
  display: flex;
  flex-direction: row; 
  margin-bottom: 20px;
}
.genreItems div {
  display: flex;
  margin: 5px;
  padding: 10px;
  background-color: rgb(255, 157, 0);
  border-radius: 10px;
}
.detail_right_buttons{
  display:flex;
}
detail_right_buttons a{
  display: flex;
  margin-right: 1000px;
}
.detail_right_buttons button{
  margin-left: 10px;
  color: white;
}
.button_green{
  background-color: rgb(9, 136, 36);
}
.button_red {
  background-color: rgb(255, 0, 0);
}
/* end of right part */

.similarTitle{
  margin-bottom: 20px;
  margin-top: 30px;
  text-decoration: underline;
  /* background-color: white; */
  text-align: center;
  margin-left:80px;
  margin-right:80px;
  font-size: 24px;
}
.movieList {
  margin-right: 80px;
  margin-left: 80px;
  position: relative;
}
.movieList .glyphiconFalse {
  position: absolute;
  cursor: pointer;
  border-width:2px;
  border-style: solid;
  border-radius: 15px;
  border-color: black;
  top: 20px;
  right: 0px;
  color:white;
}

.movieList .glyphiconTrue {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 0px;
  color:rgb(255, 238, 0);
}
.movie{
  border-radius: 10px;
}

.movieImg {
  object-fit: fill;
  min-width: 100%;
  max-height: 100%;
}

mat-grid-tile-footer.footer{
  height: 64px;
  overflow-x: auto;
}
span.capitalise {
  text-transform: capitalize;    
  display: inherit;
  font-size: small;
  color: white;
  padding: 0 5px;
  position: relative;
}