.container{
  background-color:rgb(255, 136, 0);
  margin-top:50px;
}
.movieList {
  display:flex;
  flex:1;
  margin-right: 80px;
  margin-left: 80px;
  position: relative;
}
.movieList img{
  border-radius: 10px;
  cursor: pointer;
  min-width: 100%;
  max-height: 100%;
}
.movieList mat-icon {
  cursor: not-allowed;
  position: absolute;
  top: 20px;
  right: 0px;
  color:#ffee00;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 10px 10px;
}