.container{
  background-color:rgb(255, 136, 0);
  margin-top:50px;
}
.movieList {
    margin-right: 80px;
    margin-left: 80px;
  }
.movieImg {
    object-fit: fill;
    min-width: 100%;
    max-height: 100%;
    border-radius: 10px;
  }
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 10px 10px;
  }
.movie{
    display:flex;
    position: relative;
    border-radius: 10px;
    flex:1;
    margin-right: 40px;
}
.movie .glyphiconTrue {
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 0px;
    color:rgb(255, 238, 0);
  }